body{
    font-family: 'Ubuntu', sans-serif;
}

a{
  color: #6f42c1!important;
}

.cor-roxa{
    color: #6f42c1!important;
}

.logoff-icone{
    font-weight: bold!important;
}

/*  Menu e Navbar */

.link-menu-top{
	color: #6f42c1!important;
	font-weight: bold;
}

.link-menu-top:hover{
    color: purple!important;
    transition: 0.3s;
}


.preco-cor{
    color: #6f42c1;
}

.link-produtos{
    color: black;
    text-decoration: none;
}
.link-produtos:hover{
    text-decoration: none;
    color: black;
}


/*  Menu e Navbar */



/* PAINEL CLIENTE */


.list-group-item.active {
    color: #6f42c1!important;
    border-color: #6f42c1!important;;
}














































































































































